:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#434455;
    --accent-color:#4D5AE5;
    --white-color:#ffffff;
    --button-background:#F4F4FD;
}

/* основной цвет текста #2E2F42 */
/* вторичный цвет текста #434455 */
body {
    color:var(--primary-text-color);
    background-color:var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.link, .list {
    list-style: none;
    text-decoration: none;
}

.button {
    font-family: inherit;
}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
}

span {
    color: var(--accent-color);
}

.logo:hover, 
.logo:focus {
    color: var(--accent-color);
}

.nav.link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav.link:hover, 
.nav.link:focus {
    color: var(--accent-color);
}

.adressat.link {
    color: var(--title-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.adressat.link:hover, 
.adressat.link:focus {
    color: var(--accent-color);
}

.portfplio-title {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2x;
    letter-spacing: 0.02em;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button {
    color: var(--accent-color);
    background: var(--button-background);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover, 
.button:focus {
    color: var(--white-color);
    background: var(--accent-color);
}

.end {
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    font-weight: 500;
    line-height: 1.5px;
    align-items: center;
    letter-spacing: 0.04em;
}