:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#434455;
    --accent-color:#4D5AE5;
    --white-color:#E5E5E5;
    --button-background:#F4F4FD;
}

/* основной цвет текста #2E2F42 */
/* вторичный цвет текста #434455 */
body {
    color:var(--primary-text-color);
    background:var(--white-color);
    font-family: Roboto, sans-serif;
}

button {
    font-family: inherit;
}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

span {
    color: var(--accent-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.logo:hover, 
.logo:focus {
    color: var(--accent-color);
}

.navigation-start {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
}

.navigation-start:hover, 
.navigation-start:focus {
    color: var(--accent-color);
}

.adressat-continue {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
}

.adressat-continue:hover, 
.adressat-continue:focus {
    color: var(--accent-color);
}

h2 {
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.75x;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

.button {
    color: var(--accent-color);
    background: var(--button-background);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
}

button:hover, 
button:focus {
    color: var(--white-color);
    background: var(--accent-color);
}

.end {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
}

